:root{
  --cor-base-1: rgb(12, 242, 54);
  --cor-base-2: rgb(22, 208, 56);
  --cor-base-3: rgb(29, 129, 47);
  --cor-base-4: rgb(35, 89, 45);
  --cor-base-5: rgb(25, 75, 34);
  --cor-drk-bl: #001d31;
  --cor-neon-1:#00be67;
  --cor-neon-2: #00a1d5;
  --cor-neon-3: #2b0e66;
  --cor-neon-4: #f500bd;
  --cor-neon-5: #ff86c9;
  --cor-wht-grn: rgba(214, 255, 216, 0.9);
}
body{
  background-color: var(--cor-drk-bl);
  font-family:  Arial, sans-serif;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-drk-bl);
  min-height: 50vh;
  min-width: 50vh;
  max-width: 60vh;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 50px 0 var(--cor-neon-3), 0 6px 20px 0 var(--cor-neon-3);
  border-radius: 30px;
}

.container:hover{
  transition: ease 1.0s;
  border: 0;
  box-shadow: 0 4px 50px 0 var(--cor-neon-4), 0 6px 20px 0 var(--cor-neon-5);
}

.review{
    min-height: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.img-cont{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border-top: 13px double var(--cor-base-1);
  border-right: 10px double var(--cor-base-1);
  border-left: 10px double var(--cor-base-1);
  border-bottom: 5px solid black;
  box-shadow: 0px 0px 1px var(--cor-base-1), 0px 0px 3px var(--cor-base-1);
}
#foto-pessoa {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  max-height: 150px;
  max-width: 150px;
}

.titulo{
  margin: 10px;
  margin-top: 25px;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--cor-wht-grn);
  text-shadow: 0px 0px 1px var(--cor-base-1), 0px 0px 3px var(--cor-base-1);
}

#autor{
  text-align: center;
  font-size: 25px;
  color: var(--cor-wht-grn);
  text-shadow: 0px 0px 1px var(--cor-base-1), 0px 0px 3px var(--cor-base-1);
}

#job{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color:var(--cor-neon-2);
  text-shadow: 0 0 3px var(--cor-neon-2);
}
#info{
  text-align: center;
  color:rgba(230, 230, 230, 0.9);
  margin: 20px;
}

.botoes{
  margin-top: 10px;
  margin-bottom: 10px;
}
.prev,.next{
  border-radius: 50%;
  border-color: transparent;
  color: rgba(230, 230, 230, 0.9);
  background-color: transparent;
  font-size: 40px;
  margin: 0 30px;
  position:relative;
  cursor: pointer;
}

.prev:hover,.next:hover{
  color: var(--cor-base-1);
  text-shadow: 0 0 3px var(--cor-base-1);
  transition: ease 1.0s;
}
.prev:active{
  right: 5px;
}
.next:active{
  left: 5px;
}

.random-btn{
  margin-bottom: 15px;
  background-color: rgba(230, 230, 230, 0.9);
  border-radius: 15px;
  font-size: 15px;
  border: 0px solid;
  cursor: pointer;
  padding: 10px;
}
.random-btn:hover{
  box-shadow: 0 0 8px var(--cor-base-1);
  transition: ease 0.5s;
  background-color: var(--cor-wht-grn);
}

.random-btn:active{
  background-color: rgba(230, 230, 230, 0.9);
  box-shadow: 0 0 15px var(--cor-base-1);
}