:root{
  --cor-base-1: rgb(12, 242, 54);
  --cor-base-2: rgb(22, 208, 56);
  --cor-base-3: rgb(29, 129, 47);
  --cor-base-4: rgb(35, 89, 45);
  --cor-base-5: rgb(25, 75, 34);
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #555555;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.8);
  min-height: 50vh;
  min-width: 50vh;
  max-width: 60vh;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 50px 0 rgba(0, 255, 0, 0.2), 0 6px 20px 0 rgba(0, 255, 0, 0.19);
  border-radius: 30px;
}
.review{
    min-height: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.img-cont{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border-top: 10px double var(--cor-base-1);
  border-right: 10px double var(--cor-base-1);
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  box-shadow: 0 0 3px var(--cor-base-2);
}
#foto-pessoa {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  max-height: 150px;
  max-width: 150px;
}

.titulo{
  margin: 10px;
  font-size: 40px;
}

#autor{
  text-align: center;
  font-size: 25px;
}

#job{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(49, 190, 246);
}
#info{
  text-align: center;
}

.botoes{
  margin-top: 10px;
  margin-bottom: 10px;
}
.prev,.next{
  border-radius: 50%;
  border-color: transparent;
  color: black;
  background-color: transparent;
  font-size: 40px;
  margin: 0 30px;
  position:relative;
}

.prev:hover,.next:hover{
  color: var(--cor-base-1);
  text-shadow: 0 0 3px var(--cor-base-1);
  transition: ease 1.0s;
}
.prev:active{
  right: 5px;
}
.next:active{
  left: 5px;
}

.random-btn{
  margin-bottom: 10px;
  background-color: #fefefe;
  border-radius: 15px;
  font-size: 20px;
  border: 1px solid;
}
.random-btn:hover{
  box-shadow: 0 0 8px var(--cor-base-1);
  transition: ease 0.5s;
}

.random-btn:active{
  background-color: #dddddd;
  box-shadow: 0 0 15px var(--cor-base-1);
}